<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>21/04/19 15:11:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestPage.closeBrowser()[pri:0, instance:GilabTest.gtest.TestPage@7d0587f1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/19 15:11:46</td>   <td>-2001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPage.googletest()[pri:0, instance:GilabTest.gtest.TestPage@7d0587f1]">googletest</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>21/04/19 15:11:43</td>   <td>-5526</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestPage.initBrowser()[pri:0, instance:GilabTest.gtest.TestPage@7d0587f1]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
</table>
